* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: white;
    box-shadow: 0px 7px 7px -6px gray;
}

.container {
    max-width: 100%;
    padding-left: -15px;
    padding-right: -15px;
}

.row .titlemenu {
    display: flex;
    flex-wrap: wrap;
}

.row .titlemenu h2 {
    font-weight: 650;
    font-size: 35px;
    padding: 10px 0;
}

.row .titlemenu h2 a {
    text-decoration: none;
    color: #00c4ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row .titlemenu .menu {
    margin-left: 70px;
}

.row .titlemenu .menu ul {
    display: flex;
}

.row .titlemenu .menu ul li {
    list-style: none;
    margin-top: 20px;
    padding-left: 20px;
}

.row .titlemenu .menu ul li a .icon-all {
    font-size: 20px;
}

.row .titlemenu .menu ul li .fa-building {
    color: #00c4ff;
}

.row .titlemenu .menu ul li .ks {
    color: #00c4ff;
}

.ks {
    position: relative;
    color: #000;
    text-decoration: none;
}

.ks:before {
    content: "";
    position: absolute;
    width: 135%;
    height: 3px;
    bottom: -7px;
    left: -27px;
    background-color: #00c4ff;
    visibility: visible;
    transform: translateX(5px);
    transition: 0.4s;
}

.ks:hover:before {
    background-color: #00c4ff91;
}

.ks:hover {
    text-decoration: none;
}

.row .titlemenu .menu ul li .ks {
    color: #00c4ff;
}

.cn {
    position: relative;
    color: #000;
    text-decoration: none;
}

.cn:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -7px;
    left: -28px;
    background-color: #00c4ff;
    visibility: hidden;
    transform: translateX(0px);
    transition: 0.4s;
}

.cn:hover:before {
    background-color: #00c4ff91;
    width: 120%;
    transform: translateX(5px);
    visibility: visible;
}

.cn:hover {
    text-decoration: none;
}

.row .titlemenu .menu ul li a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: gray;
}

.row .login img {
    float: left;
    width: 40px;
    height: 40px;
}

.row .login .list {
    visibility: hidden;
    margin-top: 27px;
    margin-left: -78px;
    position: absolute;
}

.login .list .list-group {
    width: 190px;
}

.row .search-box .danhsach {
    width: 92.5%;
    border-radius: 5px;
    z-index: 2;
    display: flex;
    margin-left: -16px;
    margin-top: 10px;
    background-color: white;
}

ul#list_3 {
    margin-left: 30px;
    display: block;
}

.row .search-box .danhsach ul li {
    border: none;
}

.row .search-box .danhsach ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: #4b4b4b;
}

.row .search-box .danhsach ul li a:hover {
    font-size: 13px;
    color: black;
}

#search {
    font-size: 15px;
}

.row .fa-user-circle,
.fa-sort-down {
    color: #007bff;
    cursor: pointer;
}

.login .list .list-group {
    width: 190px;
    box-shadow: 0px 0px 13px -5px black;
}

.login .list .list-group li a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}

.login .list .list-group li:hover {
    background-color: whitesmoke;
}

.row .search-box .bed .list {
    position: absolute;
    visibility: hidden;
}

.row .search-box .bed .hien {
    visibility: visible;
}

.row .login .xuat {
    visibility: visible;
    z-index: 2;
}

.row .login .arrow {
    margin-top: -100px;
}

.row .login .phone {
    margin-top: 3px;
    font-size: 10px;
    color: #404040;
    margin-left: 45px;
}

#TPHCM {
    margin-top: -10px;
}

.row .login .image-phone {
    border: 0 solid black;
    width: 170px;
    height: 58%;
    border-radius: 50px;
    background-color: rgba(74, 144, 226, .1);
    margin-top: 15px;
    margin-left: 30px;
}

.row .login .three-icon {
    float: right;
    margin-top: -50px;
}

.row .login .three-icon .login {
    padding-left: 30px;
    font-size: 20px;
}

.three-icon .modal .modal-header {
    background-color: #0095ffe3;
    width: 100%;
    height: 50px;
}

.three-icon .modal .modal-header .modal-title {
    font-size: 17px;
    margin: -7px;
    color: white;
}

.three-icon .modal .modal-body .text-1 {
    margin: -7px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.three-icon .modal .modal-body input {
    border-radius: 5px;
}

.three-icon .modal .modal-body div {
    height: 35px;
    width: 36px;
    font-size: 35px;
    margin: 16px 5px;
}

.three-icon .modal .modal-body .fa {
    cursor: pointer;
    opacity: 0.5;
    transition: .5s;
    position: relative;
}

.three-icon .modal .modal-body .fa:hover {
    opacity: 1;
    transition: .5s;
}

.fa.emoj.fa-minus-circle {
    color: #ff3b00;
}

.fa.emoj.fa-minus-circle:hover {
    color: #ff3b00;
}

.fa.emoj.fa-stop-circle {
    color: #ff8100;
}

.fa.emoj.fa-pause-circle {
    color: #ffbc00;
}

.fa.emoj.fa-times-circle {
    color: #00adffcf;
}

.fa.emoj.fa-plus-circle {
    color: #008062eb;
}

.fa>p {
    visibility: hidden;
    font-size: 15px;
    width: 70px;
    background-color: #0095ffe3;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    margin-left: -18px;
    position: absolute;
    padding: 5px 0;
    z-index: 1;
}

.modal-body .fa:hover p {
    visibility: visible;
    transition: .5s;
}

.modal-body .ra {
    opacity: 1 !important;
}

.modal-body .check {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
    margin-top: 20px;
}

.modal-body .check .text-2 {
    font-size: 12px;
    font-weight: 500;
}

.check:hover input~.checkmark {
    background-color: #ccc;
}

.modal-body .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check input:checked~.checkmark {
    background-color: #2196F3;
}

.check .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.check input:checked~.checkmark:after {
    display: block;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.modal-body .input {
    visibility: hidden;
    width: 100%;
    height: 50px;
    border: solid 1.5px gray;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-body .input-1 {
    width: 100%;
    border: solid 1.5px gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.modal-body .hienbang {
    visibility: visible;
    transition: .5s;
}

.fa-calendar {
    margin-left: 5px;
    font-size: 14px;
}

.fa-calendar>span {
    margin-left: 5px;
    font-size: 14px;
}

.fa-eye {
    margin-left: 15px;
    font-size: 14px;
}

.fa-eye>span {
    margin-left: 5px;
    font-size: 14px;
}

.container .head .in-head {
    margin-top: 25px;
}

.container .head .in-head>a {
    text-decoration: none;
    font-weight: 500;
}

.container .head .in-head>a>span {
    color: #00c4ff;
    font-size: 14px;
}

.container .left .border-1,
.container .left .border-2,
.container .left .border-3,
.container .left .border-4 {
    border: 1px solid #7d919973;
    border-radius: 5px;
}

.container .left .border-1,
.container .left .border-3 {
    border-radius: 5px 5px 0 0;
}

.container .left .border-2,
.container .left .border-4 {
    border-radius: 0 0 5px 5px;
}

.container .left .border-1,
.container .left .border-3 {
    background-color: #d3e8f0;
    height: 42px;
}

.left .border-4 .row .col-xl-3>a>img {
    width: 60px;
    height: 45px;
    border-radius: 5px;
}

.row .left .box-1 .border-1,
.row .left .box-2 .border-3 {
    cursor: pointer;
}

.xoay {
    transform: rotate(180deg);
    transition: .5s;
}

.row .left .box-2 {
    margin-top: 20px;
}

.left .box-1 .border-1>span>span {
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 700;
    color: #555;
    transition: .5s;
}

.left .box-1 .border-1 span:nth-child(2) {
    margin-left: 84px;
}

.left .box-1 .border-2>p {
    padding-left: 15px;
    margin-top: -12px;
}

.left .box-1 .border-2 .line-1 {
    margin-top: 7px;
}

.left .box-1 .border-2 p a {
    text-decoration: none;
    font-size: 13px;
    color: #555;
    font-weight: 400;
}

.left .box-1 .border-2 p a:hover {
    color: #00adef;
}

.left .box-2 .border-3 {
    padding: 8px 15px;
}

.left .box-2 .border-3>p {
    font-weight: 700;
    font-size: 14px;
    color: #555;
}

.border-4 .row .col-xl-3 a img {
    margin: 15px;
}

.border-4 .row .col-xl-9 p a {
    font-size: 13.5px;
    font-weight: 400;
    text-decoration: none;
    color: #00adef;
    line-height: 5px;
}

.border-4 .row .col-xl-9 p {
    margin: 0px 15px;
    height: 50px;
}

.box-2 .border-4 .row {
    margin-top: -20px;
}

.box-2 .border-4 .line-1 {
    margin-top: 0px;
}

.box-2 .border-4 hr {
    margin-top: -5px;
}

.container .row .col-xl-9>p {
    font-size: 24px;
    color: #00adef;
}

.container .row .data {
    border: 1px solid #7d919973;
    width: 268px;
    border-radius: 5px;
    margin-top: 20px;
    height: 385px;
}

.container .row .data a>img {
    width: 267px;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.container .row .data p {
    padding: 5px 10px;
    height: 30px;
}

.container .row .data .fa {
    margin-left: 10px;
    color: #a1a1a1;
    font-size: 13px;
}

.container .row .data .fa-eye {
    margin-left: 125px;
    margin-top: 15px;
}

.container .row .data p>a {
    color: #555;
    height: 46px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.3em;
    text-decoration: none;
}

.container .row .data .p-6 {
    color: #555;
    height: 46px;
    font-size: 13px;
    line-height: 1.3em;
    margin-top: -10px;
}

.container .row .data>hr {
    width: 90%;
    margin: 10px auto;
    height: 1px;
}

.container .row .data .tag-a-7 {
    font-size: 14px;
    margin-left: 180px;
    margin-top: 20px;
    text-decoration: none;
    color: #00adef;
}

.container .row .data .tag-a-7>.fa-angle-double-right {
    margin-left: 4px;
    color: #00adef;
}

.footer {
    background-color: #fafafa;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 40px;
}

.footer .container h2 {
    font-weight: 650;
    font-size: 30px;
    color: #00c4ff;
    padding-top: 60px;
}

.footer .container .row {
    padding-top: 10px;
}

.footer .row .end h5 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
}

.footer .row .end p {
    font-size: 15px;
    color: #000000cc;
    margin-top: -5px;
}

.footer .row .end img {
    margin-left: -10px;
}

.footer .row .line-3 img {
    width: 153px;
    padding-left: 15px;
    margin-left: -15px;
}

.footer .row .end a {
    text-decoration: none;
}

.footer .row .end a p:hover {
    color: #00c4ff;
}

.footer .row .line-3 .icon-fa {
    margin-left: -30px;
}

.footer .row .line-3 .fa {
    padding-left: 30px;
    font-size: 25px;
}

.footer .row .line-3 .fa-facebook-square {
    color: #4c66a4;
}

.footer .row .line-3 .fa-google-plus-square {
    color: red;
}

.footer .row .line-3 .fa-instagram {
    color: #bf3566;
}

@media only screen and (max-width:1200px) {
    .row .login .image-phone {
        margin-left: -50px;
        transition: .5s;
    }
}

@media only screen and (max-width:992px) {
    .row .login .image-phone {
        margin-left: 0px;
        transition: .5s;
    }
    .row .titlemenu .menu {
        margin-left: 370px;
        margin-top: -70px;
        transition: .5s;
        padding-left: 10px;
    }
}

@media only screen and (max-width:770px) {
    .row .titlemenu .menu {
        margin-top: -70px;
        margin-left: 200px;
        transition: .5s;
    }
}